:root {
  --grey: #B9b9B9;
  --off-white: #F6F6F6;
  --chocolate: #181713;
  --pastel-pink: #ECD6D1;
  --fawn: #CDBBA9;
  --linen: #F1ECE6;

  font-size: 1rem /* 1rem = 16px */
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-image: url('it_proekt1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--chocolate);
}

nav {
  background-color: var(--fawn);
  backdrop-filter: blur(0.375rem);
  padding: 0.625rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  color: var(--pastel-pink);
}

.logo a {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--chocolate);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: var(--chocolate);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}


header {
  background: var(--chocolate);
  color: var(--linen);
  padding: 1.25rem 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

section {
  padding: 2.5rem 1.25rem;
  max-width: 50rem;
  margin: 2rem auto;
  background: var(--linen);
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--fawn);
}

p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: var(--chocolate);
}

.site-footer {
  background-color: var(--fawn);
  color: var(--chocolate);
  padding: 1.875rem 1.25rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: var(--chocolate);
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.footer-links a {
  display: inline-flexbox;
  align-items: center;
  min-width: 13.75rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  background-color: var(--chocolate);
  color: var(--fawn);
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0.3125rem;
}

.footer-links a:hover {
  background-color: var(--pastel-pink);
  color: var(--chocolate);
}

.footer-copy {
  font-size: 0.875rem;
  color: var(--chocolate);
  margin-top: 1.25rem;
}
